.pagination {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    li {
      padding: 5px 10px;
      margin: 0.5px;

      border-radius: 50%;
      width: 8px;

      &:hover {
        cursor: pointer;
      }

      span {
        text-align: center;
        font-weight: bold;
      }
    }

    .active {
      background: blue;
      color: #fff;
    }
  }
}
