.provider{
    margin-top: 50px;
    cursor: pointer;

    &-title{
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: bold;
    }

    &-logo{
        margin-top: 10px;  
    }

    &-logo:not(:first-child){
        margin-left: 10px;
    }

    &-not-available{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &-logo-wrapper {
        display: flex;
    }
}