@import "../styles/colors";

.movie-details-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  background-size: cover;
  padding: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(43, 46, 74, 0.63);
  }

  &__main {
    position: relative;
    color: #ffffff;
    margin-top: 20rem;
    padding: 0 6rem;

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 100px;
      gap: 20rem;
    }
    .column {
      .title {
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin: 1rem 0;
      }
      .stats {
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
        color: $primary-dark;
        &__genre {
          font-weight: 700;
          font-size: 0.8rem;
          letter-spacing: 0.2rem;
          word-spacing: 0.3rem;
          text-transform: uppercase;
          margin-left: 1rem;
        }
        &__other {
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 0.2rem;
          &:not(:first-child) {
            margin-left: 1rem;
          }
        }
      }
      .description {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.3rem;
        margin: 1rem 0;
      }

      .cast-wrapper {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .cast {
          display: flex;
          flex-direction: row;
        }
        .cast-title {
          font-size: 1.6rem;
          text-transform: uppercase;
          margin-bottom: .5rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}
