@import '../../../styles/colors';

.container{
    background-image: linear-gradient(to right top, #2b2e4a, #342f4b, #3c304b, #44324b, #4b334b, #53344d, #5a354e, #62364e, #6e364f, #7a364f, #85364d, #903749);
    color: $color;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

.wrapper{
    margin: 0px 80px;
    padding: 0px 20px;
}

.wide{
    margin: 0px 80px;
}
