.navbar {
  padding: 10px;
  display: flex;
}

.logo {
  display: flex;
  width: 30%;
}

.search-wrapper{
  display: flex;
  width: 40%;
  justify-content: center;

  &__input{
    width: 60%;
    font-size: 20px;
  }
  &__button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    span{
      font-size: 35px;
    }
  }
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  width: 30%;
  
  li:hover {
    cursor: pointer;
    color: #e84545;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
}
