@import "../../../styles/colors";

.navbar {
  padding: 10px;
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.brand-logo {
  display: flex;

  span {
    display: flex;
    align-items: center;
    font-size: 45px;
    margin-right: 5px;
    margin-left: 5px;
    color: $primary;
  }
}

.brand {
  display: flex;
  width: 30%;
  align-items: center;
  cursor: pointer;

  span {
    font-size: 35px;
    font-family: "Pacifico", cursive;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }
}

.search-wrapper {
  display: flex;
  width: 40%;
  justify-content: center;

  &__input {
    width: 60%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
    padding-right: 55px;
    &:focus{
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  &__button {
    background: none;
    border: none;
    color: $color;
    cursor: pointer;
    margin-left: -50px;

    span {
      font-size: 40px;
      font-weight: 800;
      color: $primary;
      &:hover {
        color: $primary-dark;
      }
    }
  }
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  width: 30%;

  li:hover {
    cursor: pointer;
    color: #e84545;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
}
